.ab_photo_cont {width:300px; margin-left:70px; margin-top:25px;}
.ab_text_cont {width:500px; margin-left:370px; margin-top:-280px;}
.ab_quote_cont {width:850px; margin-top:-15px; margin-left:25px;}
.ab_name {font-size:23px; color: RGB(76, 60, 27);}
.ab_text {font-size:19px; text-align:left; color: RGB(76, 60, 27);}
.ab_quote {font-size:37px; margin:0px; color: RGB(76, 60, 27);}
.ab_quote_sign {font-size:31px; text-align:right; margin:0px; color: RGB(76, 60, 27);}