.s_header {font-size:26px; color: RGB(76, 60, 27); margin:6px;}
.s_header_oth {font-size:26px; color: RGB(76, 60, 27); margin:16px;}
.s_subheader {font-size:22px; color: RGB(76, 60, 27); margin:10px;}