a.button1{
background:url(../img/treasure-map-icon.png);
display:block;
color:#555555;
font-weight:bold;
height:250px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:250px;
text-indent:30px;
}
a.button2{
background:url(../img/treasure-map-icon.png);
display:block;
color:#555555;
font-weight:bold;
height:250px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:250px;
}
a.button3{
background:url(../img/treasure-map-icon.png);
display:block;
color:#555555;
font-weight:bold;
height:250px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:250px;
}
a.button4{
background:url(../img/treasure-map-icon.png);
display:block;
color:#555555;
font-weight:bold;
height:250px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:250px;
}
a.button5{
background:url(../img/treasure-map-icon.png);
display:block;
color:#555555;
font-weight:bold;
height:250px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:250px;
}
a.button6{
background:url(../img/treasure-map-icon.png);
display:block;
color:#555555;
font-weight:bold;
height:250px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:250px;
}