.serv_cont {width:800px; margin-left:65px; margin-top:15px;}
.s_header {font-size:26px; color: RGB(76, 60, 27); margin:6px;}
.s_header_oth {font-size:26px; color: RGB(76, 60, 27); margin:16px;}
.s_subheader {font-size:22px; color: RGB(76, 60, 27); margin:10px;}
.s_text {font-size:19px; text-align:left; margin:6px; color: RGB(76, 60, 27);}
.s_subtext {font-size:18px; color: RGB(76, 60, 27); margin:8px;}